<div class="liste1">
  <h2>List of all Events</h2>


  <table>
    <tr>
      <th>Titel</th>
      <th>Strat</th>
      <th>End</th>
      <th>Status</th>
      <th>Entrance Fee</th>
      <th>Max Participants</th>
    </tr>

    <tr *ngFor="let ae of aEvents">
      <td>{{ae.titel}}</td>
      <th>{{ae.start}}</th>
      <th>{{ae.end}}</th>
      <th>{{ae.status}}</th>
      <th>{{ae.participationFee < 3.50? "free" : ae.participationFee + "$"}}</th>
      <th>{{ae.participationFee < 3.50? null : ae.maxParticipants}}</th>

    </tr>


  </table>
  <button (click)="handelClick()"
          class="btnAdd">Add Event
  </button>

</div>

