<!--WRAPPER: WITH= AUTO-->
<div id="wrap">


  <!--HEADER | START-->



  <div class="headero">
    <header class="solid">
      <img class="leftimg" src="../../../../assets/image/Event-PNG-Photo.png" alt="LOGO"/>

      <img class="rightimg" src="../../../../assets/image/logo.png" alt="LOGO"/>
      <h1  align="center"><b>Amsterdam Events</b></h1>
      <h3 align="center"><b>Amsterdam life || XXX</b></h3>
      <h4>{{dateTime}}</h4>
      <h4 *ngIf="aEvents3SessionService.currentUser != null">Welcom {{aEvents3SessionService.currentUser.name}}</h4>
    </header>
  </div>




</div>

