
<form class="validation aform" (ngSubmit)="onSigIn(f)" #f="ngForm">

  <table id="tabeSelect">
    <tr>
      <th>Login</th>
    </tr>
  </table>


  <table id="tabelDetail42">

    <tr>
      <td for="email">Email</td>
      <td>
        <input type="text" id="email" ngModel name="email" placeholder="Your Email" required  #email ="ngModel" >
        <div *ngIf="!email.valid && email.touched" class="alert alert-warning">Please enter a valid email</div>

      </td>
    <tr>
    <tr>
      <td for="password">Password</td>
      <td>
        <input type="password" id="password" ngModel name="password" placeholder="Your Password" required  #password ="ngModel" minlength="6">
        <div *ngIf="!password.valid && password.touched" class="alert alert-warning">Please enter a valid email</div>

      </td>
    <tr>

  </table>


  <button class="btn" type="sumbit"  [disabled]="!f.valid" >Login</button>


  <div class="col">
    <div *ngIf="errorMessage" class="errorMessage">{{ errorMessage }}</div>
  </div>


</form>



