
<!--Start SIde Bar-->
<div id="SideBar">

  <h3>Pick a date:</h3>
  <label for="start">Start date:</label>

  <input type="date" id="start" name="trip-start"
         value="2019-09-16"
         min="2019-01-01" max="2020-12-31">

  <label for="category-select">Pick a Category:</label>

  <select id="category-select">
    <option value="">--Please choose an option--</option>
    <option value="sports">Sports</option>
    <option value="markets">Markets</option>
    <option value="festivals">Festivals</option>
    <option value="musea">Musea</option>
    <option value="celebrations">Celebrations</option>
  </select>

</div>


<!--End SIde Bar-->

<!--Start Home-Part-->
<section id="boxes">
  <div class="container">
    <div class="box">
      <img src="../../../../assets/image/event1.jpg"/>
      <a href="#"><h3>Projectkoor Vredesconcert</h3></a>
      <p>Als je van zingen houdt zing dan mee!
        Van 21 t/m 29 september 2019 is de landelijke Vredesweek, een week waarin Nederland in actie komt voor vrede.
        De Vredesweek is een initiatief van PAX en dit jaar is het thema ‘Vrede verbindt over grenzen’.</p>
    </div>
    <div class="box">

      <img src="../../../../assets/image/ConcertHall_01.jpg">
      <a href="#"><h3>Kunst & Theater Gala Leger </h3></a>
      <p>Kunst & Theater Gala Leger Des Heils komt 14 september naar AFAS Live

        Jaarlijks vindt in AFAS Live in Amsterdam het Kunst & Theater Gala plaats.
        Dit gala is de grande finale van de Kunst & Theaterfestivals die in het hele land plaatsvinden.</p>
    </div>
    <div class="box"><img src="../../../../assets/image/cup event.png"/>
      <a href="#"><h3>CupCakeCup Event</h3></a>
      <p>Op zondag 15 september vindt de zesde editie van het grote Zapp CupCakeCup event plaats bij VondelCS.
        Alle kinderen t/m 13 jaar zijn welkom tussen 9:00 uur en 18:00 uur voor dit gezellige gratis familie
        evenement.</p>
    </div>

    <div class="box">
      <img src="../../../../assets/image/event1.jpg"/>
      <a href="#"><h3>Projectkoor Vredesconcert</h3></a>
      <p>Als je van zingen houdt zing dan mee!
        Van 21 t/m 29 september 2019 is de landelijke Vredesweek, een week waarin Nederland in actie komt voor vrede.
        De Vredesweek is een initiatief van PAX en dit jaar is het thema ‘Vrede verbindt over grenzen’.</p>
    </div>

  </div>
</section>

<!--End Home-Part-->






<!--Start Footer-->
<div class="footere">
<footer>
  <b>Over deze site</b>
  <p> In deze agenda staan activiteiten en evenementen op het gebied van sport, recreatie, kunst en cultuur in
    Amsterdam.
    Veel activiteiten worden door externe organisaties geplaatst.
    De Gemeente Amsterdam is niet verantwoordelijk voor de inhoud van deze evenementen.</p>
</footer>
</div>
<!--End Footer-->
